## macOS
default.profraw

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


## C++

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


## CMake

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


## Build
build*
bin*

## IDES
*.autosave
.idea/
*.code-workspace
*.vscode

## python
.ipynb_checkpoints
__pycache__

## AUTOGEN!
src/autogen/*.ipp
#src/autogen/*.hpp
fixtures/auto_*.json
figures/*.data
data/*.local/
data/linesearch_*.csv
logs/*.csv
logs/**/*.csv
logs/*.log
logs/**/*.log

3rdparty*


## Documentation
docs

## Symbolic link to Google Drive folder
results

# Atom beautifier files
.atom-beautify.*
distance_AABB.cpp.bak

logs
